<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Your site has changed!</h1>

<p>
  Your watched site <%= @site.url %> has been changed at <%= @site.last_updated %>,
  your username is: <%= @user.name %>.<br>
</p>

<p>Thanks for using site notifier!</p>

<p>You can unsubsribe here: notifier.tk </p>
</body>
</html>