@import "bootstrap";


h1, h2 {
  line-height: 1;
}

h1 {
  font-size: 2em;
//  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

body {
  font-family: 'Alfa Slab One', serif;
  //  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 15px;
  font-weight: normal;
  //  margin: 1em;
}

table tr td a {
  //    display: block;
  height: 100%;
  width: 100%;
  color: black;
}

//  table tr td {
//    padding-left: 0;
//    padding-right: 0;
//    border: 0;
//    text-align: center;
//    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
//    font-size: 1em;
//  }

#cboxContent {
  background: #000;
}

input[type="submit"]
{
  background:url(watch.png);
}