<li>
  <%= link_to site.url, site.url %>
  | <%= link_to "delete", site, method: :delete, data: {confirm: "You sure?"} %>
  <div id="container" style="overflow:hidden;width:500px">
    <div id="inner" style="overflow:hidden;width: 500px">
      <% Category.all.each do |cat| %>
          <div id="my-div" title="<%= cat.name %>" style="background-color: <%= cat.color %>">
            <a href="#" class="fill-div"></a>
          </div>
          &nbsp
      <% end %>
    </div>
  </div>
</li>