<li>
  <%= link_to site.url, site.url, target: "_blank" %>
  | <%= link_to "Category", category_path(site), data: {:colorbox => true,
                                                        :colorbox_height => '700px',
                                                        :colorbox_width => '400px'} %>
  | <%= link_to "Delete", site, method: :delete, data: {confirm: "You sure?"} %>
  <%= if site.was_changed
        link_to image_tag("new.png", size: "48"),
                site_path(site, was_changed: false), data: {:colorbox => true,
                                                            :colorbox_height => '500px',
                                                            :colorbox_width => '700px'}
      end %>
</li>